# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
* list popular languages for data science
* list commonly used libraries for data science
* list commonly used tools by data scientists
* give examples showing arithmetic operations on numbers

Some of the popular data science languages are:
1. Python
2. R
3. Java
4. Scala
5. Julia

Some of the commonly used libraries are:
1. Pandas
2. Numpy
3. Matplotlib
4. Seaborn
5. TensorFlow

| Data Science Tools |
|-------------|
| RStudio |
| VS Code |
| Jupyter Notebook |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# this is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
m=200
h=200/6
print(h)

33.333333333333336

## Author
Kanishka